@model IEnumerable<Clothes_2.Web.Models.SanPham>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/css/index.css" rel="stylesheet" />
<link href="~/css/phantrang.css" rel="stylesheet" />


<div id="slider">

    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
			<div class="carousel-item active">
                <img src="~/img/slider1.jpg" class="d-block w-100 height-25"
                     alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/schic-01-scaled.jpg" class="d-block w-100 height-25" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/d09340cb6a7a9663327d7a5f16839c6f.jpg" class="d-block w-100  height-25" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div id="GT-SP">
    <h3>SẢN PHẨM NỔI BẬT</h3>
    <div id="SP-noiBat">
        @foreach (var item in Model.Take(10))
        {
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="card-SP">
                    <img src="~/img/imgsanpham/@item.image" alt="" class="img-SP">
                    <hr>
                    <div class="content-SP">
                        <div class="card-Ten-SP">
                            @item.TenSanPham
                        </div>
                        <p class="SP-giatien">@item.Gia.ToString("C0",System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</p>
                    </div>
                </div>
            </a>
        }

    </div>
</div>

<div id="danhMuc-SP">


    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-route-id="@item.Id">
            <div class="card-SP">
                <img src="~/img/imgsanpham/@item.image" alt="" class="img-SP">
                <hr>
                <div class="content-SP">
                    <div class="card-Ten-SP">
                        @item.TenSanPham
                    </div>
                    <p class="SP-giatien">@item.Gia.ToString("C0",System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</p>
                </div>
            </div>
        </a>
    }

</div>
<div id="PhanTrang" style="display:flex; justify-content:center;">
    @if (ViewBag.Page > 0)
    {
        @Html.ActionLink("<<", "Index", new { pageNumber = ViewBag.Page - 1 }, new{@class="chuyentrang"})
    }
    <p class="tranghientai">@ViewBag.TrangHienTai</p>
    @if (ViewBag.Page < ViewBag.MaxPage)
    {
        @Html.ActionLink(">>", "Index", new { pageNumber = ViewBag.Page + 1 },new{@class="chuyentrang"})
    }
</div>

