@model IEnumerable<Clothes_2.Web.Models.SanPham>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/css/index.css" rel="stylesheet" />
<link href="~/css/phantrang.css" rel="stylesheet" />


<div id="slider">

    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
			<div class="carousel-item active">
                <img src="~/img/slider1.jpg" class="d-block w-100 height-25"
                     alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/schic-01-scaled.jpg" class="d-block w-100 height-25" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/d09340cb6a7a9663327d7a5f16839c6f.jpg" class="d-block w-100  height-25" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div id="GT-SP">
    <h3>SẢN PHẨM NỔI BẬT</h3>
    <div id="SP-noiBat">
       @* @foreach (var item in Model.Take(10))
        {
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="card-SP">
                    <img src="~/img/imgsanpham/@item.image" alt="" class="img-SP">
                    <hr>
                    <div class="content-SP">
                        <div class="card-Ten-SP">
                            @item.TenSanPham
                        </div>
                        <p class="SP-giatien">@item.Gia.ToString("C0",System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</p>
                    </div>
                </div>
            </a>
        }*@
        <a asp-action="Details" asp-route-id="624089D0-FCD6-4A40-8C4C-108995474C2A">
            <div class="card-SP">
                <img src="~/img/imgsanpham/giay3.jpg" alt="" class="img-SP">
                <hr>
                <div class="content-SP">
                    <div class="card-Ten-SP">
                        Giày Cv C1927 Gót Mũi tên
                    </div>
                    <p class="SP-giatien">420.000 ₫</p>
                </div>
            </div>
        </a>
        <a asp-action="Details" asp-route-id="23B43076-30D1-468A-896B-7D848C35FB93">
            <div class="card-SP">
                <img src="~/img/imgsanpham/giay1.jpg" alt="" class="img-SP">
                <hr>
                <div class="content-SP">
                    <div class="card-Ten-SP">
                        Giày Nike Air Force
                    </div>
                    <p class="SP-giatien">430.000 ₫</p>
                </div>
            </div>
        </a>
        <a asp-action="Details" asp-route-id="B83AEC05-50DA-4DC6-801A-C9999D633D21">
            <div class="card-SP">
                <img src="~/img/imgsanpham/giay11.jpg" alt="" class="img-SP">
                <hr>
                <div class="content-SP">
                    <div class="card-Ten-SP">
                        Giày Cv classi
                    </div>
                    <p class="SP-giatien">360.000 ₫</p>
                </div>
            </div>
        </a>
        <a asp-action="Details" asp-route-id="C3583EE1-E974-4D41-A838-BC5AE9027989">
            <div class="card-SP">
                <img src="~/img/imgsanpham/giay6.jpg" alt="" class="img-SP">
                <hr>
                <div class="content-SP">
                    <div class="card-Ten-SP">
                        Giày Thể Thao Đế Mềm
                    </div>
                    <p class="SP-giatien">470.000 ₫</p>
                </div>
            </div>
        </a>
        <a asp-action="Details" asp-route-id="8DC6245F-5935-4E23-B7A8-2CC05B437913">
            <div class="card-SP">
                <img src="~/img/imgsanpham/thun1.jpg" alt="" class="img-SP">
                <hr>
                <div class="content-SP">
                    <div class="card-Ten-SP">
                        Áo Thun Cemmery
                    </div>
                    <p class="SP-giatien">220.000 ₫</p>
                </div>
            </div>
        </a>
        <a asp-action="Details" asp-route-id="DE5B1CDD-91D8-44CE-8FB6-0E8939308709">
            <div class="card-SP">
                <img src="~/img/imgsanpham/somi3.jpg" alt="" class="img-SP">
                <hr>
                <div class="content-SP">
                    <div class="card-Ten-SP">
                        Áo Sơ Mi Oversize
                    </div>
                    <p class="SP-giatien">280.000 ₫</p>
                </div>
            </div>
        </a>
        <a asp-action="Details" asp-route-id="D48883A2-808D-42C6-9848-364BAE0CC014">
            <div class="card-SP">
                <img src="~/img/imgsanpham/giay10.jpg" alt="" class="img-SP">
                <hr>
                <div class="content-SP">
                    <div class="card-Ten-SP">
                        Giày EGM Unisex
                    </div>
                    <p class="SP-giatien">470.000 ₫</p>
                </div>
            </div>
         </a>
        <a asp-action="Details" asp-route-id="77C24E93-0428-4E02-A674-CB1B3112D38A">
            <div class="card-SP">
                <img src="~/img/imgsanpham/thun2.jpg" alt="" class="img-SP">
                <hr>
                <div class="content-SP">
                    <div class="card-Ten-SP">
                        Áo Thun Ulzzang
                    </div>
                    <p class="SP-giatien">250.000 ₫</p>
                </div>
            </div>
        </a>
        <a asp-action="Details" asp-route-id="FAED11F6-FD6B-48B8-B831-5C7C955E0874">
            <div class="card-SP">
                <img src="~/img/imgsanpham/giay7.jpg" alt="" class="img-SP">
                <hr>
                <div class="content-SP">
                    <div class="card-Ten-SP">
                        Áo Sơ Mi Caro
                    </div>
                    <p class="SP-giatien">280.000 ₫</p>
                </div>
            </div>
        </a>
        <a asp-action="Details" asp-route-id="A49D38F3-995C-4F4E-B84F-E659B106DCB0">
                <div class="card-SP">
                <img src="~/img/imgsanpham/thun4.jpg" alt="" class="img-SP">
                    <hr>
                    <div class="content-SP">
                        <div class="card-Ten-SP">
                        Áo Thun Crewz
                        </div>
                        <p class="SP-giatien">210.000 ₫</p>
                    </div>
                </div>
         </a>
    </div>
</div>

<div id="danhMuc-SP">


    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-route-id="@item.Id">
            <div class="card-SP">
                <img src="~/img/imgsanpham/@item.image" alt="" class="img-SP">
                <hr>
                <div class="content-SP">
                    <div class="card-Ten-SP">
                        @item.TenSanPham
                    </div>
                    <p class="SP-giatien">@item.Gia.ToString("C0",System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</p>
                </div>
            </div>
        </a>
    }

</div>
<div id="PhanTrang" style="display:flex; justify-content:center; margin: 40px;">
    @if (ViewBag.Page > 0)
    {
        @Html.ActionLink("<<", "Index", new { pageNumber = ViewBag.Page - 1 }, new{@class="chuyentrang"})
    }
    <p class="tranghientai">@ViewBag.TrangHienTai</p>
    @if (ViewBag.Page < ViewBag.MaxPage)
    {
        @Html.ActionLink(">>", "Index", new { pageNumber = ViewBag.Page + 1 },new{@class="chuyentrang"})
    }
</div>

