@model IEnumerable<Clothes_2.Web.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/phantrang.css" rel="stylesheet" />
<h1>Quản lý sản phẩm</h1>
<a asp-action="Index" asp-controller="LoaiSanPham">chuyển hướng đến: Quản lý loại sản phẩm</a>
<br />
<a asp-action="Index" asp-controller="ChiTietHoaDon">chuyển hướng đến: Các đơn hàng </a>
<p>
    <a asp-action="Create">Tạo mới sản phẩm</a>
</p>
<form asp-controller="SanPham" asp-action="Index">
    <input type="text" name="idSanPham"/>
    <input type="submit" value="submit"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThuongHieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XuatSu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChatLieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiSanPham)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
              @*  @Html.DisplayFor(modelItem => item.image)*@
                    <img src="~/img/imgsanpham/@item.image" alt="" class="img-SP" style="width:50px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuongHieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XuatSu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChatLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoaiSanPham)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết sản phẩm</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
@*@if (ViewBag.Page > 0)
{
    <a asp-controller="SanPham" asp-action="Index" asp-route-pageNumber="@ViewBag-1"
       class="btn btn-default">
        &laquo; Prev
    </a>
}
@if (ViewBag.Page < ViewBag.MaxPage)
{
    <a sp-controller="SanPham" asp-action="Index" asp-route-pageNumber="@ViewBag+1"
       class="btn btn-default">
        Next &raquo;
    </a>
}*@
<div id="PhanTrang" style="display:flex; justify-content:center;">
@if (ViewBag.Page > 0)
{
    @Html.ActionLink("<<", "Index", new { pageNumber = ViewBag.Page - 1 }, new{@class="chuyentrang"})
}
<p class="tranghientai">@ViewBag.TrangHienTai</p>
@if (ViewBag.Page < ViewBag.MaxPage)
{
        @Html.ActionLink(">>", "Index", new { pageNumber = ViewBag.Page + 1 },new{@class="chuyentrang"})
}
</div>